<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/leantime/public
    <Directory /var/www/leantime/public>
      Options FollowSymLinks Indexes
      AllowOverride All
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/error.log 
   CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

